body {
    line-height: 1.25;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.img__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -4em;
}

.img__container img {
    width: 100%;
}

.container__profile img {
    width: 20%;
    border: 1px solid #fff;
    border-radius: 4em;
}

.container__profile {
    display: flex;
    justify-content: center;
    margin-top: -2.4em;
}

.container__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__info h2 {
    margin-bottom: 0;
}

.container__info p {
    font-size: 1.2em;
}

.container__info__pair {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container__info__pair p {
    margin-bottom: .4em;
}

.container__info__pair a {
    color: #5590c0;
}

.container__info__pair div {
    padding: .4em;
}

.container__info__pair div:nth-of-type(1) p {
    font-weight: bold;
}

.container__info__intro {
    letter-spacing: 0.01em;
    padding: 1em;
    line-height: 1.3em;
    column-count: 1;
}

fieldset {
    margin-left: 3em;
    margin-right: 3em;
}

legend {
    font-weight: 700;
    font-size: 1.5em;
}

fieldset,
.container__info__pair--grid:last-of-type {
    margin-bottom: 1em;
}

@media screen and (min-width: 550px) {
    .container__info__intro {
        column-count: 2;
    }
    fieldset {
        max-width: 75%;
    }
}