.profile-imgs-container{  
    width: 100%;
    margin-top: -3.8em;
}

.profile-imgs-container img {
    width: 100%;
}

.profile-imgs-container__profile img {
    width: 25%;
    border: 5px solid black;
    border-radius: 4em;
}

.profile-imgs-container__profile {
    display: flex;
    justify-content: center;
    margin-top: -3.5em;
}


@media screen and (max-width: 550px) {
    .profile-imgs-container__profile img {
        width: 35%;
    }
}

@media screen and (min-width: 550px) {
    .profile-imgs-container__profile img {
        width: 35%;
        max-width: 28rem;
    }
}