tr:nth-child(even) {
    background-color: #92bbd8ea;
}

table {
    margin-left: 1em;
    margin-right: 1em;
    width: 70%;
    border-spacing: 0;
}

th {
    font-size: 1.2em;
    background-color: #24557e;
    color: white;
}

table td {
    padding: 0.6em;
}
