.container__info__pair--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    margin-bottom: 0.2em;
    width: 75%;
}

tr:nth-child(even) {
    background-color: #92bbd8ea;
}

.container__info__pair--grid:hover {

}

.container__info__pair--grid progress {
    background-color: #92bbd8ea;
}

table {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: 70%;
}

th {
    font-size: 1.2em;
    background-color: #24557e;
    color: white;
}

table td {
    padding: 0.6em;
}

progress::-webkit-progress-bar {
    background-color: #0175ff;
}

progress::-moz-progress-bar {
    background-color: #0175ff;
}

progress::-webkit-progress-value {
    background-color: #111;
}